# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/

# Environment files
.env

# Logs
*.log

# Temporary files
*.tmp
website/node_modules/
website/.vitepress/dist/

# VitePress cache
website/.vitepress/cache/
